KimbaengKarthus/Program.cs.bak
KimbaengKarthus/.vs/Kimbaeng KarThus/v14/.suo
KimbaengKarthus/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KimbaengKarthus/obj/Debug/Kimbaeng KarThus.csproj.FileListAbsolute.txt
KimbaengKarthus/bin/Release/Kimbaeng KarThus.vshost.exe
KimbaengKarthus/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KimbaengKarthus/bin/Release/Kimbaeng KarThus.exe.config
KimbaengKarthus/bin/Release/Kimbaeng KarThus.vshost.exe.config
KimbaengKarthus/Kimbaeng KarThus.sln
Kimbaeng Brand/.vs/Kimbaeng Brand/v14/.suo
Kimbaeng Shen/Kimbaeng Shen/obj/Debug/Kimbaeng Shen.csproj.FileListAbsolute.txt
Kimbaeng Shen/Kimbaeng Shen/bin/Release/Kimbaeng Shen.exe.config